<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="navy blue">
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1545665277-5937489579f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=180');">
            </div>
        <div class="container">
            <div class="content-center">
               <div class="profile-image">
                    <a href="#">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQHSUq8TP9D71A/company-background_10000/0/1519797544524?e=1639796400&v=beta&t=7dvLdqGz42n1-GWcchAgHxw9JgoDAlS9w-buVAO5m2E" alt="Image" />
                    </a>
                </div>
                <div class="h2 title">My Digital Portfolio</div>
                <p class="category text-white">Welcome to your digital portfolio</p>
                <a class="btn btn-login smooth-scroll mr-2" href="#profile" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Login</a>
                <a class="btn btn-register"href="#signup" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Register</a>
            </div>
        </div>

            </div>
        </div>
        </div>
       <!--  <app-footer></app-footer>
        <ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#033d5b" type="ball-spin-clockwise"></ngx-spinner> -->
