<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Digital Academy</div>
                                        <div class="h6 mt-0 title">Associate Software Engineer (2021 - Present)</div>
                                        <p align="justify">Morgan Stanley mobilizes capital to help governments, corporations, institutions and individuals around the world achieve their financial goals.</p>
                                        <p align="justify">Worknig as java developer for Margin team</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Frontend Developer</li>
                                                <li class="non_list">Team Lead</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Autosys</li>
                                                        <li class="non_list">jenkins</li>
                                                        <li class="non_list">Treadmill</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Javascript</li>
                                                        <li class="non_list">DB2</li>
                                                        <li class="non_list">Shel-Script</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Digital Academy Pty Ltd</div>
                                        <div class="h6 mt-0 title">Fullstack <i class="fa fa-internet-explorer" aria-hidden="true"></i> (2018-07 - 2019-08)</div>
                                        <p align="justify">Worked as a Software developer to full stack applications.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">CSS</li>
                                                        <li class="non_list">Mysql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">MongoDB</li>
                                                        <li class="non_list">Web Framework</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
